<ion-view view-title="Series">
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button" menu-toggle="left" ng-click="$location.path('/series/' + extras.series_id)">Back</button>
    <div class="h1 title">Show Tracker</div>
    <button class="button" menu-toggle="right" ng-click="$location.path('/login')">Settings</button>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader">
    <h1 class="title">{{info.name}}</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item item-divider">Episodes</ion-item>
      <ion-item ng-repeat="episode in episodes" class="item item-text-wrap item-icon-right">
        <label class="checkbox">
          <input type="checkbox" ng-model="checked[episode.id]" ng-change="change(episode.id, extras.season_id)">
          S{{episode.season_number}}E{{episode.episode_number}} - {{episode.name}}
        </label>
        <i class="icon ion-chevron-right ion-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
