<ion-view view-title="Series">
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button" menu-toggle="left" ng-click="$location.path('/watchlist')">Back</button>
    <div class="h1 title">Show Tracker</div>
    <button class="button" menu-toggle="right" ng-click="$location.path('/login')">Settings</button>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader">
    <h1 class="title">{{info.name}}</h1>
  </ion-header-bar>
  <ion-content class="padding" overflow-scroll="true">
    <img ng-src="{{info.banner_thumb}}" err-src='holder.js/271x50?text={{info.name}}' style="width:100%;"><br />
    {{info.overview}}<br />
    <ion-list>
      <ion-item class="item item-divider">Seasons</ion-item>
      <ion-item ng-repeat="season in seasons" class="item item-text-wrap item-icon-right" href="#/series/{{info.id}}/season/{{season[1]}}">
        {{season[0]}}
        <i class="icon ion-chevron-right ion-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
